.sidebar-box
  p Sidebar Danh mục
  //- Thêm nội dung sidebar ở đây

style.
  .sidebar-box {
    width: 100%;
    background-color: #f2f2f2;
    border-radius: 10px;
    height: 303px;
    box-sizing: border-box;
  }
