//- Carousel chính giữa
.carousel-box
  p Carousel Chính
style.
  .carousel-box {
    flex-grow: 1;
    margin: 0 15px;
    background-color: #d9edf7;
    padding: 20px;
    border-radius: 10px;
    height : 390px;
  }
