//- Banner phụ bên phải
.right-banner-box
  p Banner Phụ
style.
  .right-banner-box {
    width: 20%;
    min-width: 200px;
    background-color: #fce4ec;
    padding: 20px;
    border-radius: 10px;
  }
