header.navbar.navbar-expand-lg.navbar-dark.bg-primary
    .container-fluid
        .row.w-100.align-items-center
            .nav__left.col-md-3
                a.navbar-brand(href="/") 
                    img(src="/images/logo.png", alt="logo", width="100")
            .nav__right.col-md-9.d-flex.justify-content-end
                ul.navbar-nav
                    li.nav-item
                        a.nav-link(href="/") Trang chủ
                    li.nav-item
                        a.nav-link(href="/products") Trang sản phẩm
