mixin alert-success(time)
    - if (messages.success)
        .message.success
            div(class="alert alert-primary d-flex justify-content-between align-items-center" role="alert" showAlert data-time=time)
                div #{messages.success}
                 button(class="btn btn-danger" close-alert ) X    
mixin alert-error(time)
    - if (messages.error)
        .message.error
            div(class="alert alert-primary d-flex justify-content-between align-items-center" role="alert" showAlert data-time=time)
                div #{messages.error}
                 button(class="btn btn-danger" close-alert ) X    