extends ../../layouts/default.pug
include ../../mixin/flash.pug
include ../../mixin/select.pug
block main
    h1.mb-4 Thêm mới danh mục
    +alert-error(5000)
    form#form-create-category(action="/admin/products-category/create" method="POST" enctype="multipart/form-data")
        div.form-group
            label(for="title") Tiêu đề
            input#title.form-control(type="text" name="title" required)

        div.form-group
            label(for="parent_id") Danh mục cha
            select#parent_id.form-control(name="parent_id")
                option(value="") -- Chọn danh mục cha --
                +select-tree(category)

        div.form-group
            label(for="desc") Mô tả
            textarea#desc.form-control(name="description" rows="5")

        div.form-group
            label(for="thumbnail") Hình thu nhỏ
            input#thumbnail.form-control(type="file" name="thumbnail" accept="image/*" input-upload-img)
            img(src="" alt="img" img-upload style="width: 100px; height: 100px; border-radius: 5px;")
        
        div.form-group
            label(for="position") Vị trí
            input#position.form-control(type="number" name="position" placeholder="Tự động tăng" min="1")
        
        div.form-group
            label Trạng thái
            div
                input#active(type="radio" name="status" value="active" checked)
                label(for="active") Hoạt động
                input#inactive(type="radio" name="status" value="inactive")
                label(for="inactive") Dừng hoạt động
        
        div.form-group
            label(for="deleted") Đã xoá
            input#deleted(type="checkbox" name="deleted")
        button.btn.btn-primary(type="submit" btn-create-category) Tạo mới

    script(src="/admin/js/script.js")
