doctype html
html
  head
    title #{title}
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1, shrink-to-fit=no")
    link(rel="icon", href="/images/favicon.ico", type="image/x-icon")
    link(rel="stylesheet", href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css")
    link(rel="stylesheet", href="/css/style.css")
    link(rel="stylesheet", href="https://cdn.jsdelivr.net/npm/sweetalert2@11/dist/sweetalert2.min.css")
    link(rel="stylesheet", href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css")
    link(rel="stylesheet", href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css")

    style.
      body {
        background-color: #F3F4F6 !important;
      }
      html {
        background-color: #F3F4F6 !important;
      }
      .box {
        box-shadow: none !important;
      }

    script(async src="https://www.googletagmanager.com/gtag/js?id=G-SFCS2RLDEJ")
    script.
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());
      gtag('config', 'G-SFCS2RLDEJ');

  body(style="background-color: #F3F4F6 !important;")
    .page-wrapper
      include ../../client/partials/header.pug
      include ../../client/partials/miniads.pug 

      .banner-wrapper
        .box.bg-white.p-3.rounded
          .home-banner-section.row.d-flex.justify-content-between.align-items-stretch
            .col-md-2.banner-sidebar
              include ../../client/partials/banner-sidebar.pug
            .col-md-7.banner-carousel
              include ../../client/partials/banner-carousel.pug
            .col-md-3.banner-right
              include ../../client/partials/banner-right.pug

      main.container(style="max-width: 1330px; margin: 0 auto; padding-left: 20px; padding-right: 20px;")
        block main

      include ../../client/partials/footer.pug

    script(type="module" src="/js/search.js")
    script(src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.min.js")
    script(src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.bundle.min.js")
    script(src="https://cdn.jsdelivr.net/npm/sweetalert2@11")
    script(src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js")
